*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F9F3EC; */
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    scroll-behavior: smooth;
}


/* cafeList container */
.container{
    max-width: 85vw;
    margin: 0 auto;
}

header{
    height: 100vh;
    padding-top: 17vh;
    background-color: #F9F3EC;
}

.bg-switcher{
    background-image: url("/images/test.png");
    background-position: center center;
    background-size: cover;    
    max-height: 690px;
    max-width: 1242px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.catchPhrase{
    background-color: #B48A46;
    height: 83px;
    max-width: 1242px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
    font-size: 17px;
}

.titleBox{
    position: absolute;
    bottom: 40px;
    left: 60px;
}

.titleBox p{
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
}

.cafeName{
    position: absolute;
    bottom: 40px;
    right: 60px;
}

.cafeName p{
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 5px;
}

#cafeList{
    background-color: #C58015;
    height: 912px;
}

.subDetails{
    margin: 0 auto;
    padding-top: 94px;
    max-width: 858px;
    padding-bottom: 93px;
}

.subDetails p{
    line-height: 45px;
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 5px;
    text-align: center;
}

.eachCafe{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}

.eachCafe a{
    position: relative;
    z-index: 10;
}

.singleCafe{
    height: 403px;
    width: 263px;
    /* position: relative; */
}

.tallBluebottle{
    background-image: url("/images/tall/tallBluebottle.svg");
    object-fit: cover;
    z-index: 10;
}
.tallKeshpearl{
    background-image: url("/images/tall/tallKeshpearl.svg");
}
.tallCoq1f{
    background-image: url("/images/tall/tallCoq1f.svg");
}
.tallZoe{
    background-image: url("/images/tall/tallZoe.svg");
}

.singleCafe p{
    position: absolute;
    bottom: 10px;
    right: 12px;
    color: #FFFFFF;
    font-size: 17px;
}

.background{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(43,43,43,0.5);
    height: 38px;
    width: 263px;
}

.arrow{
    position: absolute;
    bottom: -10%;
    right: 40%;
    z-index: -1;
}



.label{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-size: 85px;
    padding-top: 25px;
    padding-bottom: 30px;
    color: #4A4634;
    background-color: #F9F3EC;
}
.label-inner{
    animation: label 5s linear infinite;
}
@keyframes label {
    0%   { translate: 0; }
    100% { translate: calc(-100%); }
}

.brownContents{
    background-color: #4A4634;
    z-index: 0;
}
.creamContents{
    background-color: #C9B492;
    z-index: 0;
}

.main{
    display: flex;
    padding-top: 72px;
    width: 100%;
    justify-content: space-around;
}

.title{
    display: flex;
    position: relative;
}
.title img{
    position: absolute;
    left: -25px;
    top: -15px;
    z-index: 1;
    opacity: 0.8;

}
.title h2{
    font-size: 55px;
    font-weight: 900;
    color: #F9F3EC;
    z-index: 5;
}
#keshipearl .title h2{
    color: #423706;
}
.title span{
    font-size: 20px;
}

.desc{
    margin-top: 40px;
    margin-right: 40px;
}

.desc p{
    color: #F9F3EC;
    font-size: 25px;
    line-height: 70px;
}

#keshipearl .desc p{
    color: #423706;
}

.mainImg img{
    width: 650px;
    height: 356px;
    object-fit: cover;
}

.info{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #F9F3EC;
    margin-top: 100px;
}
#keshipearl .info{
    color: #423706;
}

.info1{
    max-width: 513px;
    padding-bottom: 100px;
    letter-spacing: 5px;
}

.info1-sec1{
    display: flex;
    flex-direction: column;
    line-height: 70px;
}
.workRate{
    display: flex;
    position: relative
}
.cups{
    position: absolute;
    left: 65px;
    top: 5px;
}

.workRate img{
    width: 35px;
    height: 38px;
}

.info1-sec2{
    display: flex;
    justify-content: space-between;
    line-height: 70px;
}

.info1-sec3{
    display: flex;
    justify-content: space-between;
    line-height: 70px;
}

.info1-sec3 p:last-child{
    padding-right: 25px;
}

.info2{
    line-height: 70px;
    letter-spacing: 5px;
    padding-left: 350px;
    max-width: 1000px;
}

.eachPoint{
    display: flex;
    padding-left: 10px;
}

.eachPoint img{
    padding-bottom: 65px;
}

.eachPoint p{
    padding-left: 15px;
}

.info3{
}
.wave{
    background-color: #F9F3EC
}
.wave img{
    width: 100%;
}


/* word-break: normal; */
